@page "/"
@attribute [Authorize]
@inject IUsrService UsrService

<PageTitle>LunaVPN Portal</PageTitle>

<h3>@usrId</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <h2>@errorMessage</h2>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private string usrId = string.Empty;
    private string email = string.Empty;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var state = await authenticationState;
            email = state?.User?.Identity?.Name ?? "UNKNOWN USER";
            usrId = EncryptionHelper.GenerateToken(email).Replace('/','_').Replace('\\','_');
            var result = await UsrService.CreateUserAccount(encryptedUserId: usrId);
            if (result == 1)
                errorMessage = "Contact support";
        }

        await base.OnInitializedAsync();
    }
}
